---
import "normalize.css";
import "magick.css";

import Base from "../Layouts/Base.astro";
---

<Base title="MagicSnap">
  <section>
    <p>
      MagicSnap is a passion project of mine that I started thinking about in
      late 2023. My robotics team was using teamsnap to manage our team at the
      time and none of us were happy with the experience. I remember thinking
      <em> "Hey, I could probably make something better than this." </em>
      and that envolved into this!
    </p>
  </section>
  <section>
    <h2>How do I join?</h2>
    <p>
      <strike>
        Right now MagicSnap is in alpha and isn't quite ready for active use. If
        you are interested in joining any way, please reach out to me on
        <u><a href="https://discord.gg/NGWFZg5Fgn">Discord</a></u> and I will get
        you and your team setup with an account!
      </strike>
    </p>

    <p>
      MagicSnap is now in a depreciated state. I had a ton of fun making it but
      several key services it relies on (Astro Studio and Cloudflare free email
      workers) have been remove and as such it's no longer feasible for me to
      maintain this. If you reallllly want to use this then feel free to send me
      an email (<a href="mailto:me@dunkirk.sh">me@dunkirk.sh</a>) and I would be
      happy to work with you to get this setup for your team :)
    </p>

    <p>
      I would also highly recommend checking out the Github <a
        href="https://github.com/kcoderhtml/magicsnap">repo</a
      > and taking a look at how it all works under the hood
    </p>
  </section>
  <section>
    <h2>Features</h2>
    <p>
      Right now MagicSnap is in alpha and subject to rapid changes but here is a
      general list of the features that are currently implemented and are on the
      roadmap:

      <table>
        <thead>
          <tr>
            <th>Feature</th>
            <th>Description</th>
            <th>Added</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sign-in with Slack</td>
            <td>Allows you to sign in with Slack!</td>
            <td>Fully Functional!</td>
          </tr>
          <tr>
            <td>Team Creation</td>
            <td>Allows you to create a team and add team members.</td>
            <td>Fully functional!</td>
          </tr>
          <tr>
            <td>Event Scheduling</td>
            <td>Allows teams to schedule and manage events and competitions.</td
            >
            <td>Finished! Awaiting user feedback</td>
          </tr>
          <tr>
            <td>Team Management</td>
            <td>Allows teams to manage their team members and roles.</td>
            <td>Fully Functional</td>
          </tr>
          <tr>
            <td>Team Annoucements</td>
            <td
              >Allows teams to make announcements to their team members via
              email.</td
            >
            <td>Finished!</td>
          </tr>
          <tr>
            <td>FRC Dashboard Integration</td>
            <td>Enable easy adding of team members to your FRC Dashboard!</td>
            <td>WIP</td>
          </tr>
        </tbody>
      </table>
    </p>
  </section>
</Base>
