---
import Base from "../Layouts/Base.astro";

import { getSession } from "auth-astro/server";
import { type Session } from "@auth/core/types";

type ExtendedSession = {
	team: string;
	teamName: string;
	teamImage: string;
	user: {
		role: string;
	};
};

const session = (await getSession(Astro.request)) as Session & ExtendedSession;

if (session) {
	const error = "authorization_error";
	const errorDescription = "You are already signed in to MagicSnap!";
	const queryParams = new URLSearchParams({ error, errorDescription });
	const redirectUrl = `/error?${queryParams.toString()}`;

	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: redirectUrl,
		}),
	});
}

const url = Astro.url.origin;
---

<Base title="Connect your teams acount to MagicSnap!">
	<section>
		<p>
			Thanks for signing up for MagicSnap! To get started, you'll need to
			connect your Slack workspace to MagicSnap. This will allow us to enable
			sign-in with Slack, and to access your team's profile information.
		</p>
	</section>
	<section class="slack-button">
		<a
			href=`https://slack.com/oauth/v2/authorize?scope=team%3Aread%2Cusers%3Aread%2Cusers%3Aread.email%2Cusers.profile%3Aread&user_scope=openid%2Cprofile%2Cemail&redirect_uri=${url}%2Fapi%2FnewTeam&client_id=78959039506.6869041606981`
			style="align-items:center;color:#000;background-color:#fff;border:1px solid #ddd;border-radius:4px;display:inline-flex;font-family:Lato, sans-serif;font-size:16px;font-weight:600;height:48px;justify-content:center;text-decoration:none;width:236px"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				style="height:20px;width:20px;margin-right:12px"
				viewBox="0 0 122.8 122.8"
				><path
					d="M25.8 77.6c0 7.1-5.8 12.9-12.9 12.9S0 84.7 0 77.6s5.8-12.9 12.9-12.9h12.9v12.9zm6.5 0c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9v32.3c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V77.6z"
					fill="#e01e5a"></path><path
					d="M45.2 25.8c-7.1 0-12.9-5.8-12.9-12.9S38.1 0 45.2 0s12.9 5.8 12.9 12.9v12.9H45.2zm0 6.5c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H12.9C5.8 58.1 0 52.3 0 45.2s5.8-12.9 12.9-12.9h32.3z"
					fill="#36c5f0"></path><path
					d="M97 45.2c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9-5.8 12.9-12.9 12.9H97V45.2zm-6.5 0c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V12.9C64.7 5.8 70.5 0 77.6 0s12.9 5.8 12.9 12.9v32.3z"
					fill="#2eb67d"></path><path
					d="M77.6 97c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9-12.9-5.8-12.9-12.9V97h12.9zm0-6.5c-7.1 0-12.9-5.8-12.9-12.9s5.8-12.9 12.9-12.9h32.3c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H77.6z"
					fill="#ecb22e"></path></svg
			>Add to Slack</a
		>
	</section>
</Base>

<style>
	.slack-button {
		display: flex;
		justify-content: center;
		margin-top: 5rem;
	}
</style>
