---
import Base from "../Layouts/Base.astro";

import { getSession } from "auth-astro/server";
import { Auth, SignIn } from "auth-astro/components";


const session = await getSession(Astro.request);
---

<Base title="Login">
	{
		session ? (
			<script>
                setTimeout(() => {
                    window.location.href = "/dashboard";
                }, 10);
            </script>
		) : (
			<div style="text-align: center;">
				<p>You are not logged in.</p>

                <Auth>
                    <SignIn provider="slack" options={{ callbackUrl: "/dashboard" }}>Sign In</SignIn>
                </Auth>
			</div>
		)
	}
</Base>
