---
import Base from "../Layouts/Base.astro";

import { getSession } from "auth-astro/server";
import { Auth, SignIn } from "auth-astro/components";
import authConfig from "auth:config";

const session = await getSession(Astro.request);

if (session) {
	return new Response(null, {
		status: 302,
		headers: new Headers({
			Location: "/dashboard",
		}),
	});
}
---

<Base title="Login">
	<div style="text-align: center;">
		<p>You can sign in with any of the below providers!</p>

		<Auth>
			{
				authConfig.providers.map((provider) => (
					<section>
						<SignIn
							provider={provider.name.toLowerCase()}
							options={{ callbackUrl: "/dashboard" }}
						>
							{provider.name}
						</SignIn>
					</section>
				))
			}
		</Auth>
	</div>
</Base>
