---
import "normalize.css";
import "magick.css";

interface Props {
	title: string;
}

const date = new Date();

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<header>
				<h1>{title}</h1>
			</header>

			<slot />
		</main>
		<footer>
			<p>
				&copy; {date.getFullYear()}
				<a href="https://github.com/kcoderhtml">Kieran Klukas</a>
			</p>
		</footer>
	</body>
</html>

<style>
	/* make the footer be at the bottom of the page if there isn't enough content to push it down */
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
